* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.missionTableContainer {
  margin: 1rem 2rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.titleRow {
  border-bottom: 2px solid #ccc;
}

.headTM,
.headTD,
.headTS,
.missionName,
.missionDesc,
.missionStatus,
.missionButton {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.titleRow th {
  text-align: left;
}

.missionCard:nth-child(odd) {
  background-color: #eee;
}

.missionName {
  font-weight: bold;
}

.missionButton {
  padding: 0.5rem 1rem;
  text-align: center;
}

.missionStatus,
.missionButton {
  min-width: 10rem;
}

.missionBtn {
  padding: 0.5rem;
  background: transparent;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
}

.missionBtn:hover {
  box-shadow: 2px 1px 2px 1px #666;
  transform: translateY(-1px);
}

.missionBtn:active {
  transform: translateY(1px);
  box-shadow: 2px 1px 5px 1px #666;
}

.badgeActive {
  background-color: #09b;
  padding: 0.125rem 0.25rem;
  border-radius: 4px;
  color: #fff;
}

.badgePassive {
  background-color: #777;
  color: #fff;
  padding: 0.125rem 0.25rem;
  border-radius: 4px;
}

.badgeQuit {
  color: orangered;
  border-color: orangered;
}
