* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mission-table-container {
  margin: 1rem 2rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.title-row {
  border-bottom: 2px solid #ccc;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid #ccc;
  gap: 0;
}

.title-row th {
  text-align: left;
}

.mission-card:nth-child(odd) {
  background-color: #eee;
}

.mission-name {
  font-weight: bold;
}

.mission-button {
  padding: 0.5rem 1rem;
  text-align: center;
}

.mission-status,
.mission-button {
  min-width: 10rem;
}

.mission-btn {
  padding: 0.5rem;
  background: transparent;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
}

.mission-btn:hover {
  box-shadow: 2px 1px 2px 1px #666;
  transform: translateY(-1px);
}

.mission-btn:active {
  transform: translateY(1px);
  box-shadow: 2px 1px 5px 1px #666;
}

.badge-active {
  background-color: #09b;
  padding: 0.125rem 0.25rem;
  border-radius: 4px;
  color: #fff;
}

.badge-passive {
  background-color: #777;
  color: #fff;
  padding: 0.125rem 0.25rem;
  border-radius: 4px;
}

.badge-quit {
  color: orangered;
  border-color: orangered;
}
