.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid black;
}

.logoHolder {
  display: flex;
  align-items: center;
}

.logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  text-decoration: none;
}

.links {
  text-decoration: none;
  color: black;
}