* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profileContainer {
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
  width: 100%;
}

.reservedMTable,
.reservedRTable {
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
}

.missionSelected {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.column {
  width: 50%;
}
