* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid black;
}

.logo-holder {
  display: flex;
  align-items: center;
}

.logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  text-decoration: none;
}
